{% extends "layout/base.html" %}
{% load i18n %}

{% block title %}{% trans "Settings" %}{% endblock %}

{% block subnav %}
    {% with active='settings' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}

<div class="mb-6">
    <div class="flex items-center">
        <i class="text-2xl text-gray-700 mr-2" data-feather="settings"></i>
        <h1 class="text-2xl font-semibold text-default">{% trans "Settings" %}</h1>
    </div>
</div>

<form action="{% url 'authentication:user_settings' %}" method="post">
    {% csrf_token %}
    <div class="my-6 bg-white shadow-sm border rounded-2xl">
        <div class="flex items-center justify-between p-4 border-b">
            <h2 class="text-lg font-semibold flex items-center">
                <i class="w-5 h-5 mr-2 text-gray-700" data-feather="user"></i>
                {% trans "Your personal information" %}
            </h2>
        </div>
        <div class="p-7">

            <div class="flex space-x-4">
                {{ form.first_name.as_field_group }}
                {{ form.last_name.as_field_group }}
            </div>
        </div>
        <div class="flex items-center justify-between p-4 border-t">
            <button type="submit" class="bg-primary text-white px-4 py-2 rounded-2xl focus:outline-none text-sm font-semibold">
                {% trans "Save" %}
            </button>
        </div>
    </div>

    <div class="my-6 bg-white shadow-sm border rounded-2xl">
        <div class="flex items-center justify-between p-4 border-b">
            <h2 class="text-lg font-semibold flex items-center">
                <i class="w-5 h-5 mr-2 text-gray-700" data-feather="lock"></i>
                {% trans "Authentication" %}
            </h2>
        </div>
        <div class="py-4 px-7">
            <h3 class="text-lg font-semibold mb-4">{% trans "Password" %}</h3>
            <a href="{% url 'authentication:change_password' %}" class="bg-primary text-white px-4 py-2 rounded-2xl focus:outline-none text-sm font-semibold">
                {% trans "Change your password" %}
            </a>
        </div>
        <div class="py-4 px-7">
            <h3 class="text-lg font-semibold mb-4">{% trans "Two-Factor authentication" %}</h3>

            {% if totp_authenticator %}
            <p class="text-gray-600">
                {% trans "Two-factor authentication is" %} <span class="font-bold text-success">{% trans "active" %}</span>.
            </p>
            <div class="flex items-center py-2 gap-3">
                <a href="{% url 'mfa_deactivate_totp' %}" class="bg-error text-white px-4 py-2 rounded-2xl focus:outline-none text-sm font-semibold">
                    {% trans "Remove two-factor authentication" %}
                </a>
                <a href="{% url 'mfa_view_recovery_codes' %}" class="bg-primary text-white px-4 py-2 rounded-2xl focus:outline-none text-sm font-semibold">
                    {% trans "View recovery codes" %}
                </a>

                
            </div>
            {% else %}
                <p class="text-gray-600">
                    {% trans "Two-factor authentication is" %} <span class="font-bold text-error">{% trans "not active" %}</span>.
                </p>
                <div class="flex items-center justify-between py-2">
                    <a href="{% url 'mfa_activate_totp' %}" class="bg-primary text-white px-4 py-2 rounded-2xl focus:outline-none text-sm font-semibold">
                        {% trans "Set up two-factor authentication" %}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

</form>

{% endblock %}