version: '3.8'

services:
  postgres:
    restart: always
    image: postgres:15.5
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
      POSTGRES_USER: postgres
      POSTGRES_DB: {{ cookiecutter.database_name }}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 10s
      retries: 5
    secrets:
      - db_password

  redis:
    restart: always
    image: redis:alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5

  django:
    restart: always
    build: 
      context: .
      dockerfile: Dockerfile.prod
    command: ["./wait-for-it.sh", "postgres:5432", "--", "sh", "-c", "python manage.py tailwind install && python manage.py tailwind build && python manage.py makemigrations && python manage.py migrate && python manage.py collectstatic --noinput && daphne -b 0.0.0.0 -p 8000 {{ cookiecutter.project_slug }}.asgi:application"]
    volumes:
      - .:/app
    depends_on:
      - postgres
      - redis
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

  huey:
    restart: always
    build: 
      context: .
      dockerfile: Dockerfile.prod
    volumes:
      - .:/app
    working_dir: /app
    command: ["python", "manage.py", "run_huey", "--workers", "2"]
    depends_on:
      - django
      - redis
  
  nginx:
    restart: always
    image: nginx:alpine
    ports:
      - "80:80"
    depends_on:
      - django
    volumes:
      - ./modules/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./static:/app/static
      - ./media:/app/media

secrets:
  db_password:
    file: .secrets/db_password

volumes:
  pgdata:
