version: '3.8'

services:
  postgres:
    restart: always
    image: postgres:15.5
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
      POSTGRES_USER: postgres
      POSTGRES_DB: {{ cookiecutter.database_name }}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 10s
      retries: 5
    secrets:
      - db_password

  redis:
    restart: always
    image: redis:alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5

  django:
    restart: always
    build:
      context: .
    command: ["./wait-for-it.sh", "postgres:5432", "--", "sh", "-c", "python manage.py runserver 0.0.0.0:8000"]
    volumes:
      - .:/app
    depends_on:
      - postgres
      - redis
    ports:
      - "8000:8000"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
    
  tailwind:
    restart: always
    build:
      context: .
    volumes:
      - .:/app
    command: ["sh", "-c", "python manage.py tailwind install && python manage.py tailwind start"]
    tty: true
    depends_on:
      - django

  huey:
    restart: always
    build:
      context: .
    volumes:
      - .:/app
    working_dir: /app
    command: ["python", "manage.py", "run_huey", "--workers", "2"]
    depends_on:
      - django
      - redis

secrets:
  db_password:
    file: .secrets/db_password

volumes:
  pgdata: