{% for message in messages %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="flex bg-green-100 rounded-2xl p-4 mb-4 text-sm text-green-700" role="alert">
            <i class="w-5 h-5 inline mr-3" data-feather="check-circle"></i>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="flex bg-yellow-100 rounded-2xl p-4 mb-4 text-sm text-yellow-700" role="alert">
            <i class="w-5 h-5 inline mr-3" data-feather="alert-circle"></i>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="flex bg-red-100 rounded-2xl p-4 mb-4 text-sm text-red-700" role="alert">
            <i class="w-5 h-5 inline mr-3" data-feather="x-circle"></i>
    {% else %}
        <div class="flex bg-blue-100 rounded-2xl p-4 mb-4 text-sm text-blue-700" role="alert">
            <i class="w-5 h-5 inline mr-3" data-feather="info"></i>
    {% endif %}

        <div>
            {% autoescape off %}
            {{ message }}
            {% endautoescape %}
        </div>

    </div>
        
{% endfor %}