<div x-data="modal()">
    <div id="dynamicModal" x-cloak x-show="showModal" @opendynamicmodal.window="url = $event.detail.url; openModal()" @closedynamicmodal.window="closeModal" class="fixed inset-0 z-50 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen px-4 text-center md:items-center sm:block sm:p-0">
            <div x-cloak @click.prevent="closeModal" x-show="showModal" 
                x-transition:enter="transition ease-out duration-300 transform"
                x-transition:enter-start="opacity-0" 
                x-transition:enter-end="opacity-100"
                x-transition:leave="transition ease-in duration-200 transform"
                x-transition:leave-start="opacity-100" 
                x-transition:leave-end="opacity-0"
                class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-40" aria-hidden="true"
            ></div>

            <div x-cloak x-show="showModal" 
                x-transition:enter="transition ease-out duration-300 transform"
                x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" 
                x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                x-transition:leave="transition ease-in duration-200 transform"
                x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100" 
                x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                class="inline-block w-full max-w-xl p-8 my-20 overflow-hidden text-left transition-all transform bg-white rounded-2xl shadow-xl 2xl:max-w-2xl"
            >
                <div x-show="isLoading" class="flex items-center justify-center w-full h-64">
                    <i class="fa-solid fa-heart-pulse fa-3x fa-beat text-primary"></i>
                </div>
                
                <div id="dynamicModalContent">
                </div>
                
                <div class="mt-4 w-full">
                    <button @click="closeModal" type="button" class="bg-slate-50 text-black px-4 py-2 rounded-2xl focus:outline-none text-sm font-semibold block text-center lg:inline-block w-full">
                        Close
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    function modal() {
        return {
            isLoading: false,
            showModal: false,
            openModal() {
                this.showModal = true;
                this.fetchData();
            },
            closeModal() {
                this.showModal = false;
            },
            url : '',
            fetchData() {
                document.getElementById('dynamicModalContent').innerHTML = '';
                this.isLoading = true;

                fetch(this.url)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('dynamicModalContent').innerHTML = data;
                    this.isLoading = false;
                });
            },
        }
    }
</script>