{% extends "layout/base.html" %}
{% load i18n %}

{% block title %}{% trans "OpenAI Dall-E" %}{% endblock %}

{% block subnav %}
    {% with active='example_dalle' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}

<div class="mb-6">
    <div class="flex items-center">
        <i class="text-2xl text-gray-700 mr-2" data-feather="image"></i>
        <h1 class="text-2xl font-semibold text-default">{% trans "OpenAI Dall-E" %}</h1>
    </div>
    <div>
    <p class="text-gray-500">
        {% trans "Generate images using OpenAI's DALL-E model." %}
        <br/>{% trans "<b>Where can I find the template of this page?</b> You can find this template at" %} <code class="bg-gray-100 text-gray-700 p-1 rounded-2xl">shipwithdjango/examples/templates/examples/openai_dalle.html</code>.
        <br/>{% trans "<b>Where can I find the backend logic of this page?</b> You can find the view" %} <code class="bg-gray-100 text-gray-700 p-1 rounded-2xl">OpenAIDallEExample</code> {% trans "at" %} <code class="bg-gray-100 text-gray-700 p-1 rounded-2xl">shipwithdjango/examples/views.py</code>.
    </p>
    </div>
</div>

<div class="bg-white shadow-sm border rounded-2xl p-8">
    <div class="flex flex-col items-center justify-center">
        <div class="w-24 h-24 bg-primary-light rounded-full flex items-center justify-center mb-4 text-primary">
            <i data-feather="image"></i>
        </div>
        <h3 class="text-lg font-semibold mb-2">{% trans "Generate an image" %}</h3>
        <p class="text-gray-600 text-center mb-6">
            {% trans "Generate an image using OpenAI's DALL-E model. Give a prompt and the desired image size, and the model will generate an image for you." %}
        </p>

        {{ form.prompt.as_field_group }}
        {{ form.size.as_field_group }}
        {{ form.quality.as_field_group }}
        <button id="generate-image" type="button" class="w-full bg-primary text-white py-2 rounded-2xl focus:outline-none font-semibold">{% trans "Generate image" %}</button>
    </div>
</div>

<div class="flex hidden bg-blue-100 rounded-2xl p-4 my-4 text-sm text-blue-700" role="alert" id="image-generating-message">
    <i class="w-5 h-5 inline mr-3 animate-spin" data-feather="loader"></i>
    <div>
        {% trans "The image is being generated... hold on tight." %}
    </div>
</div>

<div id="generated-image-wrapper" class="hidden bg-white shadow-sm border rounded-2xl p-8 mt-6">
    <h3 class="text-lg font-semibold">{% trans "Generated image" %}</h3>
    <img src="" id="generated-image" alt="Generated image" class="mt-4 rounded-lg shadow-lg">
</div>

{% endblock %}
{% block scripting %}
<script>

document.addEventListener('DOMContentLoaded', function() {
    // Generate image
    document.getElementById('generate-image').addEventListener('click', function() {
        let prompt = document.querySelector('textarea[name="prompt"]').value;
        let size = document.querySelector('select[name="size"]').value;
        let quality = document.querySelector('select[name="quality"]').value;

        if(prompt.trim() === '') {
            alert('Please enter a prompt.');
            return;
        }

        // Show loading message
        document.getElementById('image-generating-message').classList.remove('hidden');
        document.getElementById('generated-image-wrapper').classList.add('hidden');

        generateImageFromPrompt(prompt, size, quality).then(data => {
            // Hide loading message
            document.getElementById('image-generating-message').classList.add('hidden');

            // Show generated image
            document.getElementById('generated-image').src = 'data:image/png;base64,' + data.base64_image;
            document.getElementById('generated-image-wrapper').classList.remove('hidden');
        }).catch(error => {
            // Hide loading message
            document.getElementById('image-generating-message').classList.add('hidden');

            // Show error message
            alert(error.message);
        });
    });
});

/**
 * Generates an image from a prompt.
 * @param {string} prompt - The prompt to generate an image from.
 * @param {number} size - The size of the image to generate.
 * @param {number} quality - The quality of the image to generate.
 * @returns {object} - A Promise object that resolves to the generated image.
 * @example
 * // returns {base64_image: 'base64 encoded image'}
 * generateImageFromPrompt('A dog', 256, 1);
 */
 function generateImageFromPrompt(prompt, size, quality) {
    let csrfToken = getCookie('csrftoken');
    let currentURL = window.location.href;

    // Convert to form data
    let data = {
        prompt: prompt,
        size: size,
        quality: quality
    };

    let formData = new FormData();
    for (let key in data) {
        formData.append(key, data[key]);
    }

    // Send request
    return fetch(currentURL, {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrfToken
        },
        body: formData
    }).then(response => {
        if (response.ok) {
            return response.json();
        } else {
            // Reject the response and pass the data
            return response.json().then(data => {
                return Promise.reject(data);
            });
        }
    });
}

/** Helper function to get a cookie by name */
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script>

{% endblock %}