{% extends "layout/base.html" %}
{% load i18n %}

{% block title %}{% trans "Deactivate two-factor authentication" %}{% endblock %}

{% block subnav %}
    {% with active='settings' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}

<nav class="inline-flex items-center space-x-2 text-gray-600 bg-white border rounded-md mb-6">
    <!-- Icon -->
    <a href="{% url 'authentication:user_settings' %}" class="flex items-center space-x-1 py-2 pl-2 group">
        <i class=" text-default group-hover:text-primary" data-feather="settings" width="14px" height="14px"></i>
        <span class="text-sm text-default group-hover:text-primary">{% trans "Settings" %}</span>
    </a>
    <!-- Separator -->
    <svg class="w-4 h-4 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.293 15.293a1 1 0 010-1.414L13.586 10 10.293 6.707a1 1 0 111.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
    </svg>
    <!-- Link -->
    <a href="#" class="text-default font-medium text-sm py-2 pr-2">{% trans "Two-factor authentication" %}</a>
</nav>

<div class="mb-6">
    <div class="flex items-center">
        <i class="text-2xl text-gray-700 mr-2" data-feather="lock"></i>
        <h1 class="text-2xl font-semibold text-default">{% trans "Two-factor authentication" %}</h1>
    </div>
</div>

<form method="post" action="{% url 'mfa_deactivate_totp' %}">
    {% csrf_token %}

    {% include 'components/forms/errors.html' %}

    <div class="my-6 bg-white shadow-sm border rounded-2xl">
        <div class="p-7">
            <h3 class="text-lg font-semibold mb-2 text-center">{% trans "Deactivate two-factor authentication" %}</h3>
            <div class="text-center text-sm text-gray-600 mb-4">
                {% blocktrans %}You are about to deactivate authenticator app based authentication. Are you sure?{% endblocktrans %}
            </div>
        </div>
        <div class="flex items-center justify-center p-4 border-t">
            <button type="submit" class="bg-error text-white px-4 py-2 rounded-2xl focus:outline-none">
                {% trans "Deactivate" %}
            </button>
        </div>
    </div>
</form>

{% endblock %}